<div class="main-content">
    <div class="container-fluid">
      <div class="title">Thông Tin User</div>
      <button mat-raised-button color="primary" class="mb-2" (click)="Createquestion()">Tạo Môn Thi</button>
      <div class="main-history">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="">
              <th>ID</th>
              <th>Chương</th>
              <th>Mức Độ</th>
              <th>Nội Dung Câu Hỏi</th>
              <th>Hành Động</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of questions">
                <td>{{ item.id }}</td>
                <td>{{ item.category.name }}</td>
                <td>{{ item.levelId }}</td>
                <td (click)="seenAsnwer(item.id)"  matTooltip="Xem Câu Trả Lời" style="cursor: pointer;">{{ item.content }}</td>
                <td class="table-action">
                    <span
                    (click)="editQuestion(item)"
                    class="material-icons icon-delete"
                  >
                  mode_edit
                  </span>
                  <span
                    (click)="deleteAcount(item.id)"
                    class="material-icons icon-delete"
                  >
                    delete
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  
