<div class="main-content">
  <div class="container-fluid">
    <div class="title">Thông Tin Học Tập</div>
    <div class="action">
      <div class="action-1">
        <mat-form-field class="example-full-width">
          <mat-label>Tìm Kiếm</mat-label>
          <input [(ngModel)]="search" name="search"  (ngModelChange)="modelChangedSearch($event)" matInput placeholder="Nhập Kết Quả" />
        </mat-form-field>
      </div>
      <div class="action-2">
        <div class="action-2-1">
        </div>
        <div class="action-2-2">
          <span [ngClass]="{ 'active2': type===false }" (click)="typeCard()" class="material-icons mr-15 cu">
            dashboard
          </span>
          <span [ngClass]="{ 'active2': type===true }" (click)="typeTable()" class="material-icons cu"> list </span>
        </div>
      </div>
    </div>
    <div *ngIf="type" class="content">
      <table
        style="width: 100%"
        mat-table
        [dataSource]="tests"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="maDe">
          <th mat-header-cell *matHeaderCellDef>Mã Đề</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="monThi">
          <th mat-header-cell *matHeaderCellDef>Môn Thi</th>
          <td mat-cell *matCellDef="let element">{{ element.subject.name }}</td>
        </ng-container>

        <ng-container matColumnDef="soCau">
          <th mat-header-cell *matHeaderCellDef>Số Câu</th>
          <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
        </ng-container>

        <ng-container matColumnDef="thoiGianThi">
          <th mat-header-cell *matHeaderCellDef>Thời Gian Thi</th>
          <td mat-cell *matCellDef="let element">{{ element.time }} Phút</td>
        </ng-container>
        <ng-container matColumnDef="doKho">
          <th mat-header-cell *matHeaderCellDef>Độ Khó</th>
          <td mat-cell *matCellDef="let element">{{ element.level }}</td>
        </ng-container>
        <ng-container matColumnDef="diem">
          <th mat-header-cell *matHeaderCellDef>Điểm</th>
          <td mat-cell *matCellDef="let element">{{ element.diem }}</td>
        </ng-container>
        <ng-container matColumnDef="ngayThi">
          <th mat-header-cell *matHeaderCellDef>Ngày Thi</th>
          <td mat-cell *matCellDef="let element">{{ element.updatedAt | date: "MM-dd-yyyy" }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div *ngIf="!type" class="content2">
      <div class="row">
        <ng-container *ngFor="let data of tests">
          <div class="col-md-3">
            <mat-card style="margin-bottom: 15px">
              <mat-card-title>Môn Thi: {{ data.subject.name }}</mat-card-title>
              <mat-card-subtitle>Số Câu: {{ data.amount }}</mat-card-subtitle>
              <mat-card-subtitle
                >Thời Gian Thi: {{ data.time }} Phút</mat-card-subtitle
              >
              <mat-card-subtitle>Độ Khó: {{ data.level }}</mat-card-subtitle>
              <mat-card-subtitle>Điểm: {{ data.diem }}</mat-card-subtitle>
              <mat-card-subtitle
                >Ngày Thi: {{ data.updatedAt | date: "MM-dd-yyyy" }}</mat-card-subtitle
              >
            </mat-card>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
