<div class="main-content">
  <div class="container-fluid">
    <div style="margin-bottom: 10px" class="title">Thống Kê</div>
    <div class="row">
      <div class="col-md-6">
        <div style="text-align: center; font-size: 25px; font-weight: 400">
          Thống Kê User Làm Bài Kiểm Tra Nhiều Nhất
        </div>
        <div
          id="chartdiv1"
          style="width: 100%; height: 500px; margin-bottom: 45px"
        ></div>
      </div>
      <div class="col-md-6">
        <div style="text-align: center; font-size: 25px; font-weight: 400">
          Thống Kê Số Lượng Đánh Giá App
        </div>

        <div
          id="chartdiv3"
          style="width: 100%; height: 500px; margin-bottom: 45px"
        ></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div style="text-align: center; font-size: 25px; font-weight: 400">
          Thống Kê Những User Đạt Tổng Bài Làm Trên Điểm Trung Bình
        </div>
        <div
          id="chartdiv2"
          style="width: 100%; height: 500px; margin-bottom: 45px"
        ></div>
      </div>
      <div class="col-md-6">
        <div style="text-align: center; font-size: 25px; font-weight: 400">
          Thống Kê Điểm Trung Bình Môn Toán
        </div>
        <div
          id="chartdiv4"
          style="width: 100%; height: 500px; margin-bottom: 45px"
        ></div>
      </div>
      <div class="col-md-6">
        <div style="text-align: center; font-size: 25px; font-weight: 400">
            Thống Kê Điểm Trung Bình Môn Lý
        </div>
        <div
          id="chartdiv5"
          style="width: 100%; height: 500px; margin-bottom: 45px"
        ></div>
      </div>
      <div class="col-md-6">
        <div style="text-align: center; font-size: 25px; font-weight: 400">
            Thống Kê Điểm Trung Bình Môn Hóa
        </div>
        <div
          id="chartdiv6"
          style="width: 100%; height: 500px; margin-bottom: 45px"
        ></div>
      </div>
      <div class="col-md-6">
        <div style="text-align: center; font-size: 25px; font-weight: 400">
            Thống Kê Điểm Trung Bình Môn Sinh
        </div>
        <div
          id="chartdiv7"
          style="width: 100%; height: 500px; margin-bottom: 45px"
        ></div>
      </div>
    </div>
  </div>
</div>
